.example-card {
    max-width: 400px;
    background-color: #242424;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .subtitle{
    color: aliceblue;
  }